<div class="bg-[#34495e] text-white h-24 rounded-xl p-2 flex flex-row justify-between">
    <div class="font-semibold mx-2">
        <div class="flex flex-col text-lg md:text-xl ">
            <h2 [ngClass]="{'line-through': !todo.active}">
                {{todo.title }}
            </h2>
             <span class="font-light text-wrap " [ngClass]="{'hidden': !todo.active}">{{todo.desc}}</span>
        </div>
    </div>
    <div class="flex flex-col">
        <button class="h-fit w-12 bg-[#2d3e50] hover:bg-blue-950 rounded-lg p-1 text-base my-1"
            (click)="onCheckboxClick(todo)">&#10003;</button>
        <button class="h-fit bg-[#2d3e50] hover:bg-blue-950 rounded-lg p-1 text-base my-1"
            (click)="onClick(todo)">Del</button>
    </div>
</div>